{% extends "blog/base.html" %}
{% block content %}
{% load static %}
<style>
   #bg-imgee {
        background: url("/static/img/back.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        /* padding: 100px 0 0 0; */
    }

</style>
<div id="bg-imgee">
    <div class="container text-white" style="height: 700px;">

        <div class="row ">
            <div class="col-12">
              <p class="pt-4 text-white" style="font-size: 35px;font-weight: bold;">About Us</p>
            </div>
        </div>
        <div class="row">
          <div class="col-md-8 pt-4 pt-lg-1">
            <p style="font-size: 25px;font-weight: bold;">
              <b style="color: black;">"Share & Learn - SHERLAN"</b>
               is a website with lots of sample course works, project ideas and references under various topics.
              Users can post their projects over here and teach for those 
              you interested to learn about it.
              Moreover, this will act as an earing platform.
            </p>
          </div>
          <div class="col-md-4"></div>
        </div>
    </div>

  </div>
{% endblock content %}
