{% extends "blog/base.html" %}
{% block content %}
<div class="container">

    <h1 class="mb-3 mt-2">User Profiles</h1>
    <style>
        .media-body label{
            width: 150px;
            padding-right: 10px;
        }
    </style>
    {% for profile in object_list %}
    <div class="media content-section">
        <img class="rounded-circle article-img" src="{{ profile.image.url|default:'/static/users/default.jpeg' }}">
        <div class="media-body">
            <p><label>Name</label><a href="/users/{{profile.id}}">{{profile.full_name}}</a></p>
            <p class="article-content"><label>Education:</label>{{ profile.education }}</p>
            <p class="article-content"><label>Major Subject:</label>{{ profile.major_subject }}</p>
            <p class="article-content"><label>Country:</label>{{ profile.country.name|default:'None' }}</p>
        </div>
    </div>
    {% endfor %}

    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif %}
    {% endif %}

</div>
{% endblock content %}
